@charset "utf-8";
body{color:#222;font-family:arial, Helvetica, sans-serif;font-size:14px;margin:0;padding:0;min-width:1300px;}
/* contact */

.ppoca-ft-fix{
    display: inline-grid;
    position:fixed;
    bottom:40%;
    right:0;
    min-width: 60px;
    text-align: center;
    z-index: 999;
}
.ppoca-ft-fix a:nth-child(1){
    border-radius: 16px 0 0 0;
}
.ppoca-ft-fix a:last-child{
    border-top: 1px solid #fff;
    border-radius: 0 0 0 16px;
}
.ppoca-ft-fix a{
    background-position-y: 18px!important;
}
#messengerButton{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background: #0074ff url(../images/m-fb.png) center center no-repeat;
    box-shadow: 0 4px 8px 0 rgba(129,129,129,0.2);
}
#calltrap-btn{
    display: block;
    height: 60px;
    line-height: 100px;
    text-align: center;
    width: 60px;
    z-index:9999;
    position: relative;
    background: #00aeef url(../images/phone-call.png) no-repeat center center;
}
#zaloButton{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background: #0180c7 url(../images/zalo.png) center center no-repeat;
}
/* fb reset */
.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}
/* menu top */
#top {
    height: 35px;
    background: #1d1d1d;
    line-height: 34px;
}
.container {
    width: 1200px;
    margin: auto;
}
#menu-top {
    float: left;
}
.ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-top li.first {
    border: none;
    padding: 0;
}
#menu-top li {
    float: left;
    padding: 0 20px;
}
#menu-top .home a {
    display: inline-block;
    background: url(../images/sprite_xv.png) no-repeat;
    width: 20px;
    height: 20px;
    background-position: -221px -67px;
    float: left;
    margin-top: 7px;
}

#menu-top li a {
    text-decoration: none;
    color: #d0d0d0;
    font-size: 13px;
}
#menu-top li a:hover{
    color:#fff;
}
a {
    color: #333;
    text-decoration: none;
}
/*Login*/
#customer_h {
    font-size: 13px;
    line-height: 35px;
    float: right;
    margin-left: 20px;
    color: #d0d0d0;
}
.icon_login_h {
    background: url(../images/sprite_xv.png) no-repeat;
    display: block;
    float: left;
    width: 15px;
    height: 20px;
    background-position: -210px -14px;
    margin-top: 6px;
    margin-right: 10px;
}
/*Cart*/
#cart-header {
    float: right;
    margin-top: 2px;
    text-decoration: none;
    margin-left: 30px;
}
.icon.icon-cart {
    width: 28px;
    height: 28px;
    background: url(../images/sprite_xv.png) no-repeat;
    background-position: -16px -65px;
    float: left;
    margin-right: 5px;
}
.icon {
    display: inline-block;
    background-image: url(../images/sprite.png?v=2.2);
    background-repeat: no-repeat;
}
#cart-header a {
    color: #d0d0d0;
}
/*Clear*/
.clear{
    clear: both;
}
/*Header*/
header {
    height: 100px;
    background-color: #fff;
}
/*Logo*/
#logo {
    float: left;
    background: #fff;
}
#logo img {
    margin-top: 19px;
    height: 54px;
}
img {
    border: none;
    max-width: 100%;
}
/*Service*/
#services-header {
    float: left;
    width: 600px;
    margin: 30px 0 0 30px;
}
#services-header a:first-child {
    margin-left: 70px;
    width: 30%;
}
#services-header a {
    float: left;
    width: 25%;
    color: #3f3f3f;
    margin-left: 20px;
}
#services-header a .icon {
    background: url(../images/sprite_xv.png) no-repeat;
}
.icon.icon-service1 {
    width: 62px;
    height: 50px;
    background-position: 6px -6px !important;
    float: left;
    margin-right: 5px;
}
#services-header a b {
    text-transform: uppercase;
    display: block;
    color: #0096d6;
}
#services-header a span {
    font-size: 12px;
}
#services-header div {
    margin-top: 8px;
}
.icon.icon-service2 {
    width: 62px;
    height: 41px;
    background-position: -60px -8px !important;
    float: left;
    margin-right: 5px;
}
.icon.icon-service3 {
    width: 62px;
    height: 37px;
    background-position: -120px -6px !important;
    float: left;
    margin-right: 5px;
}
/*fb-header*/
#fb_header {
     float: right;
     width: 280px;
     margin-top: 14px;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}













